html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
}

input,
textarea {
  border: 1px solid #ccc;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 3px;
}

.timer {
  background-color: #f7f7f7;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 0 5px #aaa;
  -moz-box-shadow: 0 0 5px #aaa;
  -webkit-box-shadow: 0 0 5px #aaa;
  height: auto;
  float: left;
  margin: 20px;
  padding: 20px;
  position: relative;
  text-align: center;
  width: 200px;
}

.timer h2, .timer-face {
  font-family: 'Droid Sans Mono';;
}

.timer.expired {
  background-color: red;
  color: #fff;
}

.timer-face {
  background-color: #000;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #2EFE2E;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 10px 0;
}

.controls-left,
.controls-right {
  bottom: 5px;
  position: absolute;
}

.controls-left {
  left: 5px;
}

.controls-right {
  right: 5px;
}

.controls-right a,
.controls-left a {
  color: #848484;
  cursor: pointer;
  font-size: 11px;
}

.controls-right a:hover,
.controls-left a:hover {
  color: #000;
}

.options-form {
  display: none;
  text-align: left;
}

.options-form.show {
  display: block;
}
