.clock {
  background-color: #f7f7f7;
  border: 1px solid #aaa;
  height: 200px;
  float: left;
  margin: 20px;
  padding: 20px;
  position: relative;
  text-align: center;
  width: 200px;
}

.clock.expired {
  background-color: red;
  color: #fff;
}

.clock-id {
  position: absolute;
  left: -5px;
  top: -5px;
}

.clock-face {
  background-color: #000;
  color: #2EFE2E;
  font-family: 'Droid Sans Mono';
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 2px;
}
