html, body {
  font-family: 'Droid Sans Mono';
}

.clock {
  background-color: #f7f7f7;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 0 5px #aaa;
  -moz-box-shadow: 0 0 5px #aaa;
  -webkit-box-shadow: 0 0 5px #aaa;
  height: 200px;
  float: left;
  margin: 20px;
  padding: 20px;
  position: relative;
  text-align: center;
  width: 200px;
}

.clock.expired {
  background-color: red;
  color: #fff;
}

.clock-id {
  position: absolute;
  left: -5px;
  top: -5px;
}

.clock-face {
  background-color: #000;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #2EFE2E;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 2px;
}
